.aboutme {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    margin-top: 2rem;
    // background-image: url("/img/pngfind.com-creative-web-design-png-2847043.png");
    // background-position: center;
    // background-size: cover;
    height: auto;
    padding: 2rem;
    background-color: rgba(2, 38, 48, 0.788);
    font-size: 30px;
    p {
        font-size: 24px;
        color: aqua;

    }
    div {
        height: 100vh;
    }
    p, h2, h3 {
        // background-color: rgba(2, 38, 48, 0.788);
        // padding: 3rem;
        margin:0;
    }
}