.footer {
    max-width: auto;
    height: 10vh;
    margin-top: 2rem;
    margin-bottom:0;
    text-align: center;
    // background-color: rgba(2, 38, 48, 0.788);
    p, h3 { 
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 28px;
    background-color: darkorange;
    color: white;}
    
}