
.title-onewords {
    h2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    color: darkorange;
    font-size: 30px;
    // font-weight: ;
    }
}

.onewords {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgba(2, 38, 48, 0.788);
    // background-color: rgb(2, 95, 90);
    text-align: center;
    background-size: cover;
    
    p {
        
        font-size: 22px;
        
    }
    div i {
        color: aqua;
        animation: fadeAndScale 4s cubic-bezier(.08,.57,.94,.46);
        transform: scale(1,1.5);        
        @keyframes fadeAndScale {
            from {
                opacity: 0;
                transform: scale3d(.75,.75,1);
            }
            to {
                opacity: 1;
                transform: scale3d(1, 1, 1);
            }
            
        }
    }

}
.block-words {
    display: block;
    align-items: flex-start;
    padding: 1rem;
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
    
}
.one-icons {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    letter-spacing: 0.1rem;
    font-size: 24px;
    h1 {
        color: darkorange;
    }
    div {
        display: block;
        // line-height: 1rem;
        padding: 1rem;
    }
    p {

        line-height: 2rem;
    }
    // animation: fadeAndScale 5s cubic-bezier(.08,.57,.94,.46);
    // transform: scale(1,1);
    // @keyframes fadeAndScale {
    //     from {
    //         opacity: 0;
    //         transform: scale3d(.75,.75,1);
    //     }
    //     to {
    //         opacity: 1;
    //         transform: scale3d(1, 1, 1);
    //     }
        
    // }
    
}


.client {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgba(2, 38, 48, 0.788);
    // background-color: rgba(8, 238, 238, 0.788);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    h1 {
        color: darkorange;
        font-size: 28px;
    }
    div p {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 22px;
        padding-right: 5rem;
        padding-left: 5rem;
        color: snow;
        background-color: rgba(2, 38, 48, 0.788);
    }
    .client2 div {
        width: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    }
}