
html {
    // font-family: 'Arvo', serif;
    font-family: 'Nunito Sans', sans-serif;
    // font-size: 16px;
    padding-left: 3rem;
    padding-right: 3rem;
    // background-position: center;
    background-size: cover;
    background-image: url("/img/city.jpeg");
    // background-image: linear-gradient(rgba(173, 162, 8, 0.555)),url("../img/city.jpeg");
    // background-color: rgb(19, 0, 19);
    // background: radial-gradient(circle, rgb(34, 0, 19), rgb(164, 2, 196));

}

body {
    h1{
        color: aqua;
        // padding-top: rem;
    }
    h2, h3, p {
        color:  snow;
    }
    p {
        font-size: 18px;
    }
    
    .hfck{
        color: darkorange;
    }
    margin:0;
    padding:0;

}