

.icons3  {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    word-spacing: 5rem;
    // div {
    //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    // }
   

}
